//Shape
$borderRadius:		1px;
$selectionRadius:	3px;

//Colours
$textColour:		#404041;
$placeholderColour:	#AAA;
$backgroundColour:	#FFF;
$borderColour:		#CCC;
$selectionColour:	#47ADE4;
$selectionText:		#FFF;
$dropdownColour:	#FCFCFC;
$dropdownHover:		darken($dropdownColour, 10%);
$selectionHover:	darken($selectionColour, 10%);
$loaderColour:		#C3C3C3;
$disableBackground:	darken($backgroundColour, 5%);

@mixin noSelect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    user-select: none;
}

@mixin doTransform($action) {
    -webkit-transform: $action;
    -moz-transform: $action;
    -o-transform: $action;
    -ms-transform: $action;
    transform: $action;
}

@mixin doAnimation($action) {
    -webkit-animation: $action;
    -moz-animation: $action;
    -ms-animation: $action;
	-o-animation: $action;
	animation: $action;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@font-face {
    font-family: "multiSelectJs";
    src: url('../fonts/multiSelectJs.woff') format('woff'), url('../fonts/multiSelectJs.ttf') format('truetype'), url('../fonts/multiSelectJs.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

//The placeholder
.multiSelectJs-placeholder {
	display: inline-block;
	min-height: 40px;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid $borderColour;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	border-radius: $borderRadius;
	background-color: $backgroundColour;
}

.multiSelectJs {
	position: relative;
	display: inline-block;
	min-height: 40px;
	height: auto;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	border: 1px solid $borderColour;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	border-radius: $borderRadius;
	background-color: $backgroundColour;
	color: $textColour;
	text-align: left;
	.selections {
		display: inline;
		@include noSelect();
	}
	//Positions the elements which follow
	.selection-placeholder {
		display: inline-block;
		margin: 4px 0;
		padding: 3px 0;
		max-width: 1px;
		@include noSelect();
	}
	//The placeholder text
	.multiSelectJs-placeholderText {
		padding-left: 6px;
		color: $placeholderColour;
		&.inputVisible {
			padding-left: 0;
		}
	}
	.selection {
		position: relative;
		display: inline-block;
		margin: 4px 3px;
		padding: 3px 22px 3px 7px;
		color: $selectionText;
		background-color: $selectionColour;
		-webkit-border-radius: $selectionRadius;
		-moz-border-radius: $selectionRadius;
		border-radius: $selectionRadius;
		cursor: default;
		@include noSelect();
		.selectionText {
			padding: 3px;
			@include noSelect();
		}
		.multiSelectJs-close {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 15px;
			-webkit-border-radius: 0 $selectionRadius $selectionRadius 0;
			-moz-border-radius: 0 $selectionRadius $selectionRadius 0;
			border-radius: 0 $selectionRadius $selectionRadius 0;
			@include noSelect();
			cursor: pointer;
			&:before {
				content: "\e600";
				font-family: "multiSelectJs";
				font-size: 14px;
			}
			&:hover {
				background-color: $selectionHover;
			}
		}
	}

	.multiSelectJs-input {
		display: none;
		width: 10px;
		margin: 6px;
		color: $textColour;
		outline: none !important;//For browser defined focus outlines
		//Fix for safari
		-webkit-touch-callout: text !important;
		-webkit-user-select: text !important;
		-khtml-user-select: text !important;
		-moz-user-select: text !important;
		-ms-user-select: text !important;  
		user-select: text !important;
		&.placeholderVisible {
			margin-right: 0;
			width: 0;
		}		
	}
	&:not(.full) {
		@include noSelect();
		cursor: text;
		outline: none !important;
	}
	&.full {
		background-color: $disableBackground;
		cursor: default;
		.multiSelectJs-input,
		.multiSelectJs-placeholderText {
			display: none !important;
		}
	}
	
	.multiSelectJs-loader {
		display: none;
		float: right;
		width: 20px;
		height: 20px;
		margin: 5px 5px 0 5px;
		background: transparent;
		border: 0 solid $loaderColour;
		opacity: 0.75;
		border-width: 2px;
		border-bottom-color: transparent !important;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	&.loading {
		.multiSelectJs-loader {
			display: inline-block;
			@include doAnimation(multiSelectJs-animation 1s linear infinite);
		}
	}
	&.disabled {
		background-color: $disableBackground;
		cursor: default;
		.multiSelectJs-placeholderText,
		.selection .multiSelectJs-close,
		.multiSelectJs-input {
			display: none !important;
		}
	}
}

.multiSelectJs-dropdown {
	position: absolute;
	display: none;
	height: auto;
	min-height: 37px;
	max-height: 250px;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	color: $textColour;
	background-color: $dropdownColour;
	border: 1px solid $borderColour;
	border-top: none;
	z-index: 9001;
	overflow-y: auto;
	text-align: left;
	@include noSelect();
	
	.multiSelectJs-option {
		padding: 8px 10px;
		cursor: pointer;
		@include noSelect();
		&.hovered {
			background-color: $dropdownHover;
		}
	}
	
	.multiSelectJs-noResults {
		padding: 8px 10px;
		@include noSelect();
		cursor: default;
	}
}

//The loading animation
@-webkit-keyframes multiSelectJs-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes multiSelectJs-animation {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes multiSelectJs-animation {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes multiSelectJs-animation {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes multiSelectJs-animation {
    0% {
        @include doTransform(rotate(0deg));
    }
    50% {
        @include doTransform(rotate(180deg));
    }
    100% {
        @include doTransform(rotate(360deg));
    }
}